/**

font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

card colors: rgb(252, 186, 3) and rgb(235, 235, 235)
card background : rgb(94, 94, 94)
background : rgb(46, 46, 46)

*/

body {
  background: rgb(46, 46, 46);
}

h1 {
  font-family: "Roboto Condensed", sans-serif;
}

a:hover {
  color: rgb(252, 186, 3);
}

/** Home page */

#title {
  color: rgb(252, 186, 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#games {
  width: 350px;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 25px;
  background: rgb(94, 94, 94);
  margin: 10px;
  color: rgb(235, 235, 235);
  padding: 10px;
}

.game-stats {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  align-items: baseline;
}

/** Team page */

#return {
  background: rgb(184, 20, 20);
  font-family: "Source Sans Pro", sans-serif;
  margin: 10px 10px;
}

.logo {
  height: 125px;
  width: 125px;
}

#team {
  width: 350px;
  margin: 10px 10px;
}

.team-stats {
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  background: rgb(94, 94, 94);
  color: rgb(235, 235, 235);
}
